/* CSS */
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bolder;
}

/* Start My CSS */

body {
  background: url(../res/debut_dark.png);
  font: 14pt "Lato", Arial, sans-serif;
  padding-bottom: 20px;
}

header {
  position: relative;
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-family: "Comfortaa", serif;
  margin: 30px 0 60px;
  font-size: 52pt;
  text-align: center;
  color: #FFFFFF;
}
h1 span {
  background: #E0192A;
  color: #FFFFFF;
  padding: 5px 15px;
}
h1 strong {
  background: #663399;
  color: #FFFFFF;
  padding: 5px 15px;
  font-weight: normal;
}

/* NAVIGATION */
nav {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background: #242424;
}
nav ul {

}
nav li {
  display: inline-block;
  padding: 12px 22px;
  font-size: 13pt;
  margin-right: -4px;
  background: #323232;
}
nav a {
  color: #FFFFFF;
  text-decoration: none; 
}
nav li:hover {
  opacity: .9;
}
/* Nav BG */
nav li:nth-child(1) {
  background: #2574A9;
}
nav li:nth-child(2) {
  background: #F9690E;
}
nav li:nth-child(3) {
  background: #663399;
}
nav li:nth-child(4) {
  background: yellow;
}
nav li:nth-child(5) {
  background: orange;
}
/* MAIN CONTENT  (sort plz)*/
main {
  display: block;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background: #EEEEEE;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}

.mainInner {
  padding: 20px;
  position: relative;
}

#url {
  display: block;
  width: 98%;
  height: 40px;
  font-size: 16pt;
  padding: 0 1%;
  border: none;
  box-shadow: 0 0 1px #A6A6A6;
  outline-color: #2574A9;
  margin-top: 25px;
}

#audio-on {
  display: none;
}

#audioformat {
  display: none;
}

#submit {
  display: block;
  width: 35%;
  margin: 25px auto 0;
  background: #2574A9;
  color: #FFFFFF;
  border: none;
  padding: 15px 0;
  font: 14pt "Comfortaa", serif;
  font-weight: 700;
  outline: none;
}
#submit:hover {
  background: #226999;
  cursor: pointer; 
}
#submit:active {
  background: #154362;
}

.publicID {
  display: none;
  text-align: center;
  font: 14pt "Comfortaa", serif;
  width: 100%;
  margin: 0px auto;
  padding: 6px 0 10px;
  background: #F7CA18;
  color: #242424;
}
.publicID span {
  text-align: center
}
.publicID .before {
  font: 12pt "Lato", sans-serif;;
}
.publicID .aboutID {
  display: inline-block;
  float: right;
  margin-right: 10px;
  background: #D6AC07;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  padding: 7px;
  line-height: 12px;
  font-size: 16pt;
  font-weight: 400;
  border-radius: 50%;
  cursor: pointer;
}
.publicID.toggle {
  display: block;
}

.zipAction {
  display: none;
}
#zipit {
  display: inline-block;
}
.actionButton {
  margin-top: 15px;
  margin-left: 15px;
  width: 60px;
  height: 60px;
  display: inline-block;
  border: none;
  border-radius: 6px;
}

#zip-download {
  background: #2574A9 url(../res/zip.png) no-repeat;
  background-position: center;
  background-size: 40px;
}
#zip-download.off {
  background: red;
}

#url-link {
  background: #2574A9 url(../res/link.png) no-repeat;
  background-position: center;
  background-size: 40px;
}
#url-link:hover {
  cursor: pointer;
  background-color: #226999;
}
#url-link:active {
  cursor: pointer;
  background-color: #154362;
}

#clearFeed {
  float: right;
  background: #2574A9 url(../res/clear.png) no-repeat;
  background-position: center;
  background-size: 20px;
}
#clearFeed:hover {
  cursor: pointer;
  background-color: #226999;
}
#clearFeed:active {
  cursor: pointer;
  background-color: #154362;
}

.hidden-forms {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#response {
}

#response:empty {
  display: none;
}

/* Zip Download */
#zipcontainer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  z-index: 999;
}
#zipcontainer:empty {
  display: none;
}
.zip {
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
.zip.Bad {
  background: #E0192A;
}
.zip.Ok {
  background: #26A65B;
}
.zipDl {
  font-size: 18pt;
  color: #FFFFFF;
}
.zipSize {
  font-size: 16pt;
  margin-left: 15px;
}
#response .zipOk button, .zipBad button {
  display: block;
  background: #2574A9;
  border: none;
  padding: 8px 0;
  text-transform: uppercase;
  font: 14pt "Comfortaa", serif;
  font-weight: 700;
  color: #FFFFFF;
  width: 80%;
  margin: 10px auto 0;
  cursor: pointer;
}

.urlBox {
  line-height: 120px;
  text-align: center;
  margin-top: 25px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
.urlBox a {
  background: #2574A9;
  padding: 15px;
  color: #FFFFFF;  
}

.aboutIDBox {
  width: 960px;
  margin: 25px auto 0;
  background: #F7CA18;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
.aboutIDBox .inner {
  padding: 25px;
}
.aboutIDBox h2 {
  font: 18pt "Comfortaa", serif;
}

/* Regluar Download */
.dl-content {
  width: 90%;
  max-width: 960px;
  margin: 25px auto 0;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
.dl-content h2 {
  text-align: left;
  font: 18pt "Comfortaa", serif;
  padding: 15px 0px 15px 35px;
}
.dl-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 35px 35px;
}
.dl-link span {
  display: block;
  text-align: center;
  background: #2574A9;
  padding: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.dl-link span:hover {
  background: #226999;
  cursor: pointer; 
}
.dl-link span:active {
  background: #154362;
}
.dl-link img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.dl-imgcont {
  display: block;
}

/* Errors */
.error-box {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  background: #E0192A;
  color: #FFFFFF;
}

.hd-error {
  background: #F7CA18;
  text-align: center;
  color: #242424;
  padding: 8px;
}

/* About */
#about {
  width: 90%;
  max-width: 960px;
  margin: 25px auto 0;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}

.aboutInner {
  padding: 25px;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.builtBy {
  display: block;
  text-decoration: none;
  color: #C0392B;
  font: 14pt "Comfortaa", serif;
}
