/* CSS */
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: bolder;
}

/* Start My CSS */

body {
  background: url(res/debut_dark.png);
  font: 14pt "Lato", Arial, sans-serif;
  padding-bottom: 20px;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-family: "Comfortaa", serif;
  margin: 30px 0;
  font-size: 52pt;
  text-align: center;
  color: #FFFFFF;
}

h1 span {
  background: #E0192A;
  color: #FFFFFF;
  padding: 5px 15px;
}

/* NAVIGATION */
nav {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background: #242424;
}
nav ul {

}
nav li {
  display: inline-block;
  padding: 12px 22px;
  font-size: 13pt;
  margin-right: -4px;
  background: #323232;
}
nav a {
  color: #FFFFFF;
  text-decoration: none; 
}
nav li:hover {
  opacity: .9;
}
/* Nav BG */
nav li:nth-child(1) {
  background: #2574A9;
}
nav li:nth-child(2) {
  background: #F9690E;
}
nav li:nth-child(3) {
  background: #663399;
}
nav li:nth-child(4) {
  background: yellow;
}
nav li:nth-child(5) {
  background: orange;
}
/* MAIN CONTENT  (sort plz)*/
main {
  display: block;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background: #EEEEEE;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}

.mainInner {
  padding: 20px;
}

#url {
  display: block;
  float: left;
  width: 90%;
  height: 40px;
  font-size: 16pt;
  padding: 0 1%;
  border: none;
  box-shadow: 0 0 1px #A6A6A6;
  outline-color: #2574A9;
  margin-top: 25px;
}

#hd-check {
  display: none;
}
#hd-lable {
  display: block;
  margin-top: 25px;
  width: 8%;
  height: 40px;
  float: left;
  background: #C8C8C8;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  font-weight: 300;
}
#hd-lable:hover {
  background: #9F9F9F;
  cursor: pointer; 
}
#hd-lable.toggle {
  background: #4B77BE;
}
#hd-lable.off {
  background: #E1E1E1;
  cursor: not-allowed;
}

#audio-on {
  display: none;
}

#audio-lable {
  display: block;
  float: left;
  margin-top: 25px;
  background: #C8C8C8;
  color: #FFFFFF;
  width: 15%;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
#audio-lable:hover {
  background: #9F9F9F;
  cursor: pointer;
}
#audio-lable.toggle {
  background: #E0192A;
}

#audioformat {
  display: block;
  float: left;
  margin-top: 25px;
  height: 35px;
  line-height: 35px;
  width: 40%;
  border: none;
  box-shadow: 0 0 1px #000;
  margin-left: 3%;
  opacity: .25;
  outline-color: #FFFFFF;
}
#audioformat.toggle {
  opacity: 1;
  outline-color: #2574A9;
}

.fixfloat {
  display: block;
  width: 42%;
  margin-top: 25px;
  height: 35px;
  float: left;
}

#videoformat {
  display: block;
  float: left;
  margin-top: 25px;
  height: 35px;
  line-height: 35px;
  width: 40%;
  border: none;
  box-shadow: 0 0 1px #000;
  margin-left: 3%;
  opacity: .25;
  outline-color: #FFFFFF;
}
#videoformat.toggle {
  opacity: 1;
}
#videoformat.off {
  opacity: .1;
  pointer-events: none;
}

#video-on {
  display: none;
}

#video-lable {
  display: block;
  float: left;
  margin-top: 25px;
  background: #C8C8C8;
  color: #FFFFFF;
  width: 15%;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
#video-lable:hover {
  background: #9F9F9F;
  cursor: pointer;
}
#video-lable.toggle {
  background: #E0192A;
}
#video-lable.off {
  background: #E1E1E1;
  cursor: not-allowed;
}

#submit {
  display: block;
  width: 25%;
  float: left;
  margin-top: 25px;
  background: #2574A9;
  color: #FFFFFF;
  border: none;
  padding: 15px 0;
  font: 14pt "Comfortaa", serif;
  font-weight: 700;
  outline: none;
}
#submit:hover {
  background: #226999;
  cursor: pointer; 
}
#submit:active {
  background: #154362;
}

#response {
}

#response:empty {
  display: none;
}

.dl-content {
  width: 90%;
  max-width: 960px;
  margin: 25px auto 0;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}
.dl-content h2 {
  text-align: left;
  font: 18pt "Comfortaa", serif;
  padding: 15px 0px 15px 35px;
}
.dl-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 35px 35px;
}
.dl-link span {
  display: block;
  text-align: center;
  background: #2574A9;
  padding: 10px;
  color: #FFFFFF;
  cursor: pointer;
}
.dl-link span:hover {
  background: #226999;
  cursor: pointer; 
}
.dl-link span:active {
  background: #154362;
}
.dl-link img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.dl-imgcont {
  position: relative;
}
.dl-imgcont:after {
  display: none;
  content: " ";
  color: red;
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  min-height: 100%;
  background: url(res/download.svg);
  background-position: center;
  background-size: 140px;
  background-repeat: no-repeat;
}
.dl-imgcont:hover:after {
  display: block;
}

/* Errors */
.error-box {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
  background: #E0192A;
  color: #FFFFFF;
}

.hd-error {
  background: #F7CA18;
  text-align: center;
  color: #242424;
  padding: 8px;
}

/* About */
#about {
  width: 90%;
  max-width: 960px;
  margin: 25px auto 0;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}

.aboutInner {
  padding: 25px;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.builtBy {
  display: block;
  text-decoration: none;
  color: #C0392B;
  font: 14pt "Comfortaa", serif;
}