/* CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url(debut_dark.png)
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  font-family: arial;
  font-size: 32pt;
  font-weight: 800;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

video {
  display: block;
  width: 100%;
}